*{
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-family: arial, helvetica, sans-serif;
  line-height: 1.4em;
}

/*------------------------
     Anchura del sitio
------------------------*/

.contenedor{
  width: 980px;
  margin: 0 auto;
}

/*--------------------
      Encabezado
---------------------*/

.encabezado{
  background: purple;
  overflow: hidden;
  border-radius: 5px;
}
.logo{
  float: left;
  position: relative;
  margin-top: 7px;
}
.encabezado nav{
  float: right;
}
.encabezado nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.encabezado nav ul li{
  display: inline-block;
  margin-right: -4px;
}
.encabezado nav ul li a{
  display: block;
  color: #fff;
  padding: 28px;
  border-left: 1px solid #696969;
  text-decoration: none;
}
.encabezado nav ul li a:hover{
  background: #546e7a ;
}

/*--------------------------
       Presentacion
--------------------------*/

.presentacion{
  /*overflow: hidden;*/
  background: radial-gradient(200px at 25%  10%, #ffd180, orange);
  border-bottom: 3px solid #f57c00 ;
}
.introduccion-presentacion{
  display: inline-block;
}
.introduccion-presentacion h1{
  color: #fff;
  font-size: 2.625em; /*42px*/
  text-shadow: 1px 1px 0px #090909;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  line-height: 0.7em;
}
.introduccion-presentacion h1 span{
  color: #fff;
  font-size: 0.380952380952381em; /*16px*/
}
.presentacion img{
  float: right;
  position: relative;
  top: 30px;
}
.aprende-mas{
  font-size: 2.1875em /*35px*/;
  border: 1px solid #0d5c35;
  padding: 30px 55px;
  background: red;
  display: block;
  text-align: center;
  margin: 10px 40px 60px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 0 #000;
  border-radius: 10px;
  background: linear-gradient(to top,#319b41, #21c653);
  box-shadow: 0 5px 0 0 #20732f;
}
.aprende-mas:hover{
  font-size: 2.1875em /*35px*/;
  border: 1px solid #263238;
  padding: 30px 55px;
  background: red;
  display: block;
  text-align: center;
  margin: 10px 40px 60px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 0 #000;
  border-radius: 10px;
  background: linear-gradient(to top,#319b41, #a5d6a7);
  box-shadow: 0 5px 0 0 #20732f ;
}

/*----------------------------
        Acceso rapido
----------------------------*/

.acceso-rapido{
  background:  #21bc4e;
  overflow: hidden;
  border-bottom: 3px solid #1c943f;
}
.acceso-rapido h2{
  color: #fff;
  font-size: 1.875em;
  text-shadow: 1px 1px 0 #000;
  text-align: center;
  border-bottom: 3px solid #fff;
  padding: 18px;
}
.acceso-rapido figure{
  display: inline-block;
  text-align: center;
  width: 25%;
  margin: 0 -4px 0 0;
  padding: 0;
}
.acceso-rapido h3{
  font-size: 2.1875em;
  margin-top: 15px;
  margin-bottom: 20px;
}
.acceso-rapido h3 a{
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  font-weight: normal;
}
.acceso-rapido h3 a:hover{
  text-decoration: none;
}

/*------------------------------
        Bloque contenido
------------------------------*/

.bloque-contenido{
  overflow: hidden;
  margin-top: 25px;
  background: black;
}
.bloque-contenido .contenedor{
  display: table;
}
.articulos{
  width: 65%;
  display: table-cell;
  padding-right: 30px;
}
.articulos article{
  margin-bottom: 10px;
}
.articulos h2{
  color: #444444;
  font-size: 1.625em;
  border-bottom: 3px solid  orange;
  padding-bottom: 25px;
}
.articulos img{
  float: left;
  margin-right: 10px;
  position: relative;
  top: 4px;
}
.articulos article h1{
  font-size: 1.25em;
  margin: 0 0 8px 0;;
}
.articulos article h1 a{
  color: #444444;
  text-decoration: none;
}
.articulos article h1 a:hover{
  color: #444444;
  text-decoration: underline;
}
.articulos article p{
  font-size: 15px;
  margin: 0;
}

/*---------------------------
      complementario
---------------------------*/
.complementario{
  background: orange;
  width: 35%;
  display: table-cell;
  padding: 0 20px 20px;
  border-radius: 7px;
}
.complementario h2{
  font-size: 1.625em;
  color: #fff;
  font-weight: normal;
  text-align: center;
}
.complementario ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.complementario ul li{
  background: url("../images/ico-evento.png") no-repeat left center;
  padding-left: 25px;
  margin-bottom: 25px;
}
.complementario ul li a{
  color: #fff;
  text-decoration: none;
}
.complementario ul li a:hover{
  color: #fff;
  text-decoration: underline;;
}

/*--------------------------------
            Suscripcion
---------------------------------*/

.suscripcion{
  overflow: hidden;
  background: pink;
  padding: 15px 0;
  margin-top: 20px;
}
.suscripcion h2{
  float: left;
  font-size: 1.625em;
  color: #444444;
  font-weight: normal;
}
.suscripcion form{
  float: right;
  position: relative;
  top: 20px;
}
.suscripcion form input{
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 5px;
}
.suscripcion form input[type="submit"]{
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 5px;
  background: orange;
  color: #fff;
  box-shadow: 0 2px 0px 0 #546e7a ;
}
.suscripcion form input[type="submit"]:hover{
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 5px;
  background: #546e7a  ;
  color: #fff;
  box-shadow: 0 2px 0px 0 orange;
}
 /*----------------------------------
            Pie de pagina
-------------------------------------*/

.piedepagina{
  background: #444444;
  padding: 20px 0;
}
.piedepagina .contenedor{
  display: table;
}
.piedepagina small{
  display: table-cell;
  color: #fff;
}
.piedepagina nav{
  display: table-cell;
  text-align: right;
}
.piedepagina nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.piedepagina nav ul li{
  display: inline-block;
  padding: 0 10px;
}
.piedepagina nav ul li a{
  color: #fff;
  text-decoration: none;
}
.piedepagina nav ul li a{
  color: #fff;
  text-decoration: underline;
}

/*--------------------------
        Redes sociales
--------------------------*/

.social{
  position: fixed;
  top: 30%;
  right: 0;
}
.social a{
  display: block;
  margin-bottom: 4px;
  opacity: 0.8;
}
.social a:hover{
  display: block;
  margin-bottom: 4px;
  opacity: 1;
}
.social img{
  border-radius: 50%;
  display: block;
}
